ICarService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://webservice" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://webservice">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice">
            <xs:element name="traceCar">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="traceCarResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="traceCarRequest">
        <wsdl:part name="parameters" element="ns:traceCar"/>
    </wsdl:message>
    <wsdl:message name="traceCarResponse">
        <wsdl:part name="parameters" element="ns:traceCarResponse"/>
    </wsdl:message>
    <wsdl:portType name="ICarServicePortType">
        <wsdl:operation name="traceCar">
            <wsdl:input message="ns:traceCarRequest" wsaw:Action="urn:traceCar"/>
            <wsdl:output message="ns:traceCarResponse" wsaw:Action="urn:traceCarResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ICarServiceSoap11Binding" type="ns:ICarServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="traceCar">
            <soap:operation soapAction="urn:traceCar" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ICarServiceSoap12Binding" type="ns:ICarServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="traceCar">
            <soap12:operation soapAction="urn:traceCar" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ICarServiceHttpBinding" type="ns:ICarServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="traceCar">
            <http:operation location="traceCar"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ICarService">
        <wsdl:port name="ICarServiceHttpSoap11Endpoint" binding="ns:ICarServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/ICarService"/>
        </wsdl:port>
        <wsdl:port name="ICarServiceHttpSoap12Endpoint" binding="ns:ICarServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/ICarService"/>
        </wsdl:port>
        <wsdl:port name="ICarServiceHttpEndpoint" binding="ns:ICarServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/ICarService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
