resources/ICarService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://webservice" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice">
            <xs:element name="traceStolenProducts">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="traceStolenProductsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="traceStolenParts">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="traceStolenPartsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="traceStolenCar">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="traceStolenCarResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="traceStolenCarResponse">
    <wsdl:part name="parameters" element="ns:traceStolenCarResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="traceStolenCarRequest">
    <wsdl:part name="parameters" element="ns:traceStolenCar">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="traceStolenPartsRequest">
    <wsdl:part name="parameters" element="ns:traceStolenParts">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="traceStolenPartsResponse">
    <wsdl:part name="parameters" element="ns:traceStolenPartsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="traceStolenProductsRequest">
    <wsdl:part name="parameters" element="ns:traceStolenProducts">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="traceStolenProductsResponse">
    <wsdl:part name="parameters" element="ns:traceStolenProductsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ICarServicePortType">
    <wsdl:operation name="traceStolenProducts">
      <wsdl:input message="ns:traceStolenProductsRequest" wsaw:Action="urn:traceStolenProducts">
    </wsdl:input>
      <wsdl:output message="ns:traceStolenProductsResponse" wsaw:Action="urn:traceStolenProductsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="traceStolenParts">
      <wsdl:input message="ns:traceStolenPartsRequest" wsaw:Action="urn:traceStolenParts">
    </wsdl:input>
      <wsdl:output message="ns:traceStolenPartsResponse" wsaw:Action="urn:traceStolenPartsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="traceStolenCar">
      <wsdl:input message="ns:traceStolenCarRequest" wsaw:Action="urn:traceStolenCar">
    </wsdl:input>
      <wsdl:output message="ns:traceStolenCarResponse" wsaw:Action="urn:traceStolenCarResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ICarServiceHttpBinding" type="ns:ICarServicePortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="traceStolenProducts">
      <http:operation location="traceStolenProducts"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="traceStolenParts">
      <http:operation location="traceStolenParts"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="traceStolenCar">
      <http:operation location="traceStolenCar"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ICarServiceSoap12Binding" type="ns:ICarServicePortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="traceStolenProducts">
      <soap12:operation soapAction="urn:traceStolenProducts" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="traceStolenParts">
      <soap12:operation soapAction="urn:traceStolenParts" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="traceStolenCar">
      <soap12:operation soapAction="urn:traceStolenCar" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ICarServiceSoap11Binding" type="ns:ICarServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="traceStolenProducts">
      <soap:operation soapAction="urn:traceStolenProducts" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="traceStolenParts">
      <soap:operation soapAction="urn:traceStolenParts" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="traceStolenCar">
      <soap:operation soapAction="urn:traceStolenCar" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ICarService">
    <wsdl:port name="ICarServiceHttpSoap12Endpoint" binding="ns:ICarServiceSoap12Binding">
      <soap12:address location="http://localhost:8080/axis2/services/ICarService"/>
    </wsdl:port>
    <wsdl:port name="ICarServiceHttpEndpoint" binding="ns:ICarServiceHttpBinding">
      <http:address location="http://localhost:8080/axis2/services/ICarService"/>
    </wsdl:port>
    <wsdl:port name="ICarServiceHttpSoap11Endpoint" binding="ns:ICarServiceSoap11Binding">
      <soap:address location="http://localhost:8080/axis2/services/ICarService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
